.container {
  width: 100vw;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.rightsection-wrapper {
  padding: 162px 50px 50px 50px;
  width: 100%;
  min-height: calc(100% - 62px);
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
}