.monitor-wrapper {
  width: 872px;
  min-height: calc(100vh - 212px);
}

.monitor-nav-label {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #8A2BE2;
}

.monitor-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #666;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;

  div {
    font-size: 14px;
    font-weight: normal;
    color: #6C687D;
    text-decoration: underline;
    line-height: 1.4;
  }
  img {
    margin-right: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    opacity: 0.5;
    transition: 0.44s;
  }

  &:hover {
    img {
      transform: rotate( 360deg );
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 9px;
  margin-top: 4.5px;
}

.label {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 16px;
  color: #6C687D;
}

.result-row-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  color: #666;
  font-weight: 500;

  div {
    font-size: 12px;
    line-height: 1;
    display: flex;
    justify-content: center;
  }
}

.result-row {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #666;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  height: 46px;
  margin-bottom: 16px;

  div {
    font-size: 12px;
    line-height: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
  }

  &:hover {
    transition: 0.33s;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.44);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.44);
  }
}

.result-column {
  display: flex;
  flex-direction: column;
}

.width122 {
  width: 122px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.width66 {
  width: 66px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.width88 {
  width: 88px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.width88-excuting {
  width: 44px;
  text-align: center;
  color: green;
}

.width88-success {
  width: 44px;
  text-align: center;
  color: #4779fb;
}

.width88-fail {
  width: 44px;
  text-align: center;
  color: red;
}

.result-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.result-more-btn {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.result-more-btn:hover {
  background-color: #f9fafb;
  color: #000;
  font-weight: bold;
}

.loading-wrapper {
  margin-bottom: 16px;
}

.monitor-result-wrapper {
  display: flex;
  flex-direction: column;
  height: 316px;
}

.monitor-tab-wrapper {
  display: flex;
  flex-direction: row;
  margin: 24px 0;

  div {
    cursor: pointer;
    width: 100px;
    background: #fff;
    padding: 12px 0;
    text-align: center;
    color: #666;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background: #503aa9;
      color: #fff;
      font-weight: bold;
    }
  }

  .tab-active {
    background: #503aa9;
    color: #fff;
    font-weight: bold;
  }
}