.row {
  display: flex;
  flex-direction: row;
}

.modal-wrapper {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
  border-radius: 5px;
  min-width: 420px;
  align-items: center;
}

.modal-label {
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 19px;
}

.modal-subscription {
  font-size: 16px;
  color: #666;
  margin-bottom: 19px;
}

.modal-close {
  color: #333;
  font-size: 36px;
  cursor: pointer;
  line-height: 1;
  margin-top: -36px;
  margin-left: 4px;  
}

.modal-input-label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #333;
}

.modal-input {
  width: 100%;
  border-radius: 5px;
  align-items: center;
  padding: 12px 25px;
  font-size: 18px;
  color: #333;
  border: 1px solid rgba(0,0,0,.0625);
  box-shadow: 5px 5px 5px 0px rgba(226,226,226,1);
  margin-bottom: 4px;
}

.modal-input-log {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: blue;
}

.modal-submit-btn {
  margin-top: 24px;
  font-size: 14px;
  padding: 14px 36px;
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 130px;
  border-radius: 5px;
  text-align: center;
  border-style: none;
  cursor: pointer;

  :hover {
    background-color: #fff;
    color: #000;
  }
}
