.people-nav-label {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #8A2BE2;
}

.people-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
  color: #666;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 9px;
  margin-top: 4.5px;
}

.label {
  font-size: 16px;
  color: #888;
  text-decoration: underline;
}

.people-wrapper {
  margin-bottom: 48px;
}

.people-thumbnail {
  margin-top: 32px;
  margin-right: 24px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
}

.people-label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -3px;
}

.people-content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.people-content-left {
  width: 295px;
  margin-right: 32px;
}

.people-content-right {
  padding-top: 40px;
}

.people-content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.people-content-subtitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.people-content-history {
  font-size: 14px;
  margin-bottom: 4px;
}

.people-link {
  font-size: 16px;
  margin-top: 24px;
  color: #4779fb;
}