.button {
  cursor: pointer;
  color: #fff;
  background: #503AA9;
  min-width: 180px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;

  &:hover {
    transition: 0.33s;
    background: #604ABD;
  }
}